{% extends "base.html" %} {% load static %} {% block content %}
<section class="about-container">
  <section class="aim-header grid-header">
    <p>About Us</p>
    <p>We Build for People</p>
  </section>

  <section class="about-image background-image"></section>

  <section class="our-aim-container">
    <section class="our-aim-header">
      <section class="aim-header grid-header">
        <p class="aim-title">
          Masterson & Richards <br />Construction Associates
        </p>
      </section>
      <section class="our-aim-text line-height">
        <p>
          This is a space to share more about your business. Explain who's
          behind it, what it does and what this site has to offer. It's an
          opportunity to tell the story behind the business or describe a
          special service or product it offers. You can use this section to
          share your company's history or highlight a particular feature that
          sets it apart from competitors.
          <br />
          <br />
          Let the writing speak for itself. Keep a consistent tone and voice
          throughout the website to stay true to the brand image and give
          visitors a taste of the company's values and personality.
        </p>
      </section>
    </section>

    <section class="aim-desription">
      <p>Relationships</p>
      <p>
        Describe the service and how your customers or clients can benefit from
        it. This is the place to add a short description with relevant details,
        like pricing, duration and how to book.
      </p>
      <hr />
      <p>Experience</p>
      <p>
        Describe the service and how your customers or clients can benefit from
        it. This is the place to add a short description with relevant details,
        like pricing, duration and how to book.
      </p>
      <hr />
      <p>Accoutability</p>
      <p>
        Describe the service and how your customers or clients can benefit from
        it. This is the place to add a short description with relevant details,
        like pricing, duration and how to book.
      </p>
    </section>
  </section>
</section>

<section class="our-aim-container our-client-container">
  <section class="our-aim-image background-image"></section>

  <section class="our-aim-header">
    <section class="aim-header grid-header">
      <p>Our Mission</p>
      <p>We Aim to Build a <br />Better world</p>
    </section>
    <section class="our-aim-text line-height">
      <p>
        This is a space to share more about your business. Explain who's behind
        it, what it does and what this site has to offer. It's an opportunity to
        tell the story behind the business or describe a special service or
        product it offers. You can use this section to share your company's
        history or highlight a particular feature that sets it apart from
        competitors.
        <br />
        <br />
        Let the writing speak for itself. Keep a consistent tone and voice
        throughout the website to stay true to the brand image and give visitors
        a taste of the company's values and personality.
      </p>
    </section>
  </section>
</section>

{%endblock%}
