{% extends "base.html" %} {% load static %} {% block content %}
<section class="our-services-container">
  <section class="grid-header">
    <p>What We Do</p>
    <p>We Are Hiring a <br />Range of Positions</p>
  </section>

  <section class="career-grid project-grid">
    <section class="career-grid-one career-display line-height">
      <h3>Commercial <br />Scheduler</h3>
      <p>
        This is the space to tell people about an open position. Describe the
        role, its requirements and the qualities the business wants to see in
        candidates. List the benefits that come with the job and tell interested
        readers what to include in their applications.
      </p>
      <button class="apply-now-button">
        <a href="">Apply Now</a>
      </button>
    </section>

    <section class="career-grid-one career-display line-height">
      <h3>Receptionist <br /><br /></h3>
      <p>
        This is the space to tell people about an open position. Describe the
        role, its requirements and the qualities the business wants to see in
        candidates. List the benefits that come with the job and tell interested
        readers what to include in their applications.
      </p>
      <button class="apply-now-button black">
        <a href="">Apply Now</a>
      </button>
    </section>

    <section class="career-grid-one career-display line-height">
      <h3>Civil Engineer - <br />Senior Level</h3>
      <p>
        This is the space to tell people about an open position. Describe the
        role, its requirements and the qualities the business wants to see in
        candidates. List the benefits that come with the job and tell interested
        readers what to include in their applications.
      </p>
      <button class="apply-now-button">
        <a href="">Apply Now</a>
      </button>
    </section>

    <section class="career-grid-one career-display line-height">
      <h3>CP Engineer - <br />Entry Level</h3>
      <p>
        This is the space to tell people about an open position. Describe the
        role, its requirements and the qualities the business wants to see in
        candidates. List the benefits that come with the job and tell interested
        readers what to include in their applications.
      </p>
      <button class="apply-now-button black">
        <a href="">Apply Now</a>
      </button>
    </section>

    <section class="career-grid-one career-display line-height">
      <h3>Site Safety and Health <br />Officer</h3>
      <p>
        This is the space to tell people about an open position. Describe the
        role, its requirements and the qualities the business wants to see in
        candidates. List the benefits that come with the job and tell interested
        readers what to include in their applications.
      </p>
      <button class="apply-now-button">
        <a href="">Apply Now</a>
      </button>
    </section>

    <section class="career-grid-one career-display line-height">
      <h3>Carpenter <br /><br /></h3>
      <p>
        This is the space to tell people about an open position. Describe the
        role, its requirements and the qualities the business wants to see in
        candidates. List the benefits that come with the job and tell interested
        readers what to include in their applications.
      </p>
      <button class="apply-now-button black">
        <a href="">Apply Now</a>
      </button>
    </section>
  </section>
</section>
{%endblock%}
