{% extends "base.html" %} {% load static %} {% block content %}
<section class="hero-section">
  <p>
    Excellence Built <br />
    on Solid Ground
  </p>
  <p class="mini-hero-text">Honest, Reliable Builders since 1968</p>
  <button class="gen-button view-project-button">
    <a href="">View Projects</a>
  </button>
  <button class="gen-button contact-button">
    <a href="">Contact Us</a>
  </button>
</section>

<section class="project-grid-container">
  <section class="grid-header">
    <p>Building Is What We Do</p>
    <p>MCR Construction Is <br />Leading Quality Projects</p>
  </section>

  <section class="project-grid">
    <section class="project-grid-text-one line-height">
      <h3>Commercial</h3>
      <p>
        This is the space to describe the service. Focus the description on how
        your customers or clients can benefit from using this service: explain
        how it solves a problem, or makes life easier or more enjoyable.
        <br />
        <br />
        Be sure to include all the relevant details users will want to know,
        like pricing, duration, and location. If they'll need to prepare or
        bring anything with them, let them know here. Give users an idea of what
        to expect from the service and tell them how to book it.
      </p>
      <button class="read-more-button"><a href="">Read More</a></button>
    </section>

    <section class="project-grid-image-one background-image"></section>

    <section class="project-grid-image-two background-image"></section>

    <section class="project-grid-text-two line-height">
      <h3>Infrastructure</h3>
      <p>
        This is the space to describe the service. Focus the description on how
        your customers or clients can benefit from using this service: explain
        how it solves a problem, or makes life easier or more enjoyable.
        <br />
        <br />
        Be sure to include all the relevant details users will want to know,
        like pricing, duration, and location. If they'll need to prepare or
        bring anything with them, let them know here. Give users an idea of what
        to expect from the service and tell them how to book it.
      </p>
      <button class="read-more-button"><a href="">Read More</a></button>
    </section>

    <section class="project-grid-image-four background-image"></section>

    <section class="project-grid-text-three line-height">
      <h3>Residential</h3>
      <p>
        This is the space to describe the service. Focus the description on how
        your customers or clients can benefit from using this service: explain
        how it solves a problem, or makes life easier or more enjoyable.
        <br />
        <br />
        Be sure to include all the relevant details users will want to know,
        like pricing, duration, and location. If they'll need to prepare or
        bring anything with them, let them know here. Give users an idea of what
        to expect from the service and tell them how to book it.
      </p>
      <button class="read-more-button"><a href="">Read More</a></button>
    </section>

    <section class="project-grid-image-three background-image"></section>
  </section>
</section>

<section class="about-company background-image">
  <section class="about-company-text">
    <section class="about-company-text-one">
      <p>Who We Are</p>
      <p>About Our Company</p>
    </section>

    <section class="about-company-text-two">
      <p>
        This is the space to describe the service and explain how your customers
        or clients can benefit from it. It's an opportunity to add a short
        description that includes relevant details, like pricing, duration,
        location and how to book the service.
      </p>
    </section>

    <section class="about-company-text-three">
      <div class="signature background-image"></div>
      <h3>Aaron Masterson</h3>
      <p>CEO, MCR Construction</p>
    </section>
  </section>

  <section class="about-company-description">
    <section
      class="about-company-description-one description-wrapper line-height"
    >
      <h2>1968</h2>
      <p>Year of <br />Establishment</p>
    </section>

    <section
      class="about-company-description-two description-wrapper line-height"
    >
      <h2>282</h2>
      <p>Projects <br />Completed</p>
    </section>

    <section
      class="about-company-description-three description-wrapper line-height"
    >
      <h2>150</h2>
      <p>Professional <br />Employees</p>
    </section>

    <section
      class="about-company-description-four description-wrapper line-height"
    >
      <h2>35</h2>
      <p>Business <br />Partners</p>
    </section>
  </section>
</section>

<section class="our-services-container">
  <section class="our-services-header">
    <section class="grid-header">
      <p>Our Services</p>
      <p>
        We Offer a Range of <br />Services to Meet Your <br />
        Needs
      </p>
    </section>
    <section class="our-services-text line-height">
      <p>
        This is the space to introduce visitors to your business or brand.
        Briefly explain who's behind it, what it does and what makes it unique.
        Share its core values and what your site has to offer.
      </p>
    </section>
  </section>

  <section class="our-services-grid-description">
    <section class="our-services-grid-wrapper line-height">
      <div class="svg-icon"></div>
      <p>Commercial <br />Construction</p>
    </section>
    <section class="our-services-grid-wrapper line-height">
      <div class="svg-icon"></div>
      <p>Residential <br />Construction</p>
    </section>
    <section class="our-services-grid-wrapper line-height">
      <div class="svg-icon"></div>
      <p>Pre- <br />Construction</p>
    </section>
    <section class="our-services-grid-wrapper line-height">
      <div class="svg-icon"></div>
      <p>Site <br />Management</p>
    </section>
    <section class="our-services-grid-wrapper line-height">
      <div class="svg-icon"></div>
      <p>Special <br />Projects</p>
    </section>
    <section class="our-services-grid-wrapper line-height">
      <div class="svg-icon"></div>
      <p>Infrastructure <br />Construction</p>
    </section>
    <section class="our-services-grid-wrapper line-height">
      <div class="svg-icon"></div>
      <p>Civil <br />Engineering</p>
    </section>
    <section class="our-services-grid-wrapper line-height">
      <div class="svg-icon"></div>
      <p>Landscape <br />Construction</p>
    </section>
  </section>

  <button class="read-more-button aa"><a href="">Read More</a></button>
</section>

<section class="our-services-container">
  <section class="our-services-header">
    <section class="grid-header">
      <p>What We Do</p>
      <p>Our <br />Projects</p>
    </section>
    <section class="our-services-text line-height">
      <p>
        This is the space to introduce your business and what it has to offer.
        Define the qualities and values that make it unique.
      </p>
    </section>
  </section>

  <section class="our-projects">
    <div class="red background-image"></div>
    <div class="blue background-image"></div>
    <div class="green background-image"></div>
    <div class="yellow background-image"></div>
  </section>
</section>

<section class="our-client-container">
  <section class="grid-header">
    <p>Our Clients</p>
    <p>We believe each client is <br />a long term partnership</p>
  </section>

  <section class="our-clients">
    <div class="sponsors volve-sponsor-logo"></div>
    <div class="sponsors shawn-sponsor-logo"></div>
    <div class="sponsors latch-sponsor-logo"></div>
    <div class="sponsors tocket-sponsor-logo"></div>
    <div class="sponsors demotive-sponsor-logo"></div>
    <div class="sponsors eembreeque-sponsor-logo"></div>
  </section>
</section>
{%endblock%}
