{% extends "base.html" %} {% load static %} {% block content %} <!doctype html>
<section class="hero-section">
  <p>
    Excellence Built <br />
    on Solid Ground
  </p>
  <p class="mini-hero-text">Honest, Reliable Builders since 1968</p>
  <button class="gen-button view-project-button">
    <a href="">View Projects</a>
  </button>
  <button class="gen-button contact-button">
    <a href="">Contact Us</a>
  </button>
</section>

<section class="project-grid-container">
  <section class="project-grid-section">
    <p>Building Is What We Do</p>
    <p>MCR Construction Is <br />Leading Quality Projects</p>
  </section>

  <section class="project-grid">
    <section class="project-grid-text-one">
      <h3>Commercial</h3>
      <p>
        This is the space to describe the service. Focus the description on how
        your customers or clients can benefit from using this service: explain
        how it solves a problem, or makes life easier or more enjoyable.
        <br />
        <br />
        Be sure to include all the relevant details users will want to know,
        like pricing, duration, and location. If they'll need to prepare or
        bring anything with them, let them know here. Give users an idea of what
        to expect from the service and tell them how to book it.
      </p>
      <button class="read-more-button"><a href="">Read More</a></button>
    </section>

    <section class="project-grid-image-one"></section>

    <section class="project-grid-image-two"></section>

    <section class="project-grid-text-two">
      <h3>Infrastructure</h3>
      <p>
        This is the space to describe the service. Focus the description on how
        your customers or clients can benefit from using this service: explain
        how it solves a problem, or makes life easier or more enjoyable.
        <br />
        <br />
        Be sure to include all the relevant details users will want to know,
        like pricing, duration, and location. If they'll need to prepare or
        bring anything with them, let them know here. Give users an idea of what
        to expect from the service and tell them how to book it.
      </p>
      <button class="read-more-button"><a href="">Read More</a></button>
    </section>

    <section class="project-grid-image-four"></section>

    <section class="project-grid-text-three">
      <h3>Residential</h3>
      <p>
        This is the space to describe the service. Focus the description on how
        your customers or clients can benefit from using this service: explain
        how it solves a problem, or makes life easier or more enjoyable.
        <br />
        <br />
        Be sure to include all the relevant details users will want to know,
        like pricing, duration, and location. If they'll need to prepare or
        bring anything with them, let them know here. Give users an idea of what
        to expect from the service and tell them how to book it.
      </p>
      <button class="read-more-button"><a href="">Read More</a></button>
    </section>

    <section class="project-grid-image-three"></section>
  </section>
</section>

<section class="about-company"></section>
{%endblock%}
