{% extends "base.html" %} {% load static %} {% block content %}
<section class="our-services-container">
  <section class="our-services-header">
    <section class="grid-header">
      <p>What We Do</p>
      <p>Our Projects</p>
    </section>
    <section class="our-services-text line-height">
      <p>
        This is the space to introduce your business and what it has to offer.
        Define the qualities and values that make it unique.
      </p>
    </section>
  </section>

  <section class="projects">
    <div class="project-image-one background-image"></div>
    <div class="project-image-two background-image"></div>
    <div class="project-image-three background-image"></div>
    <div class="project-image-four background-image"></div>
    <div class="project-image-five background-image"></div>
    <div class="project-image-six background-image"></div>
    <div class="project-image-seven background-image"></div>
    <div class="project-image-eight background-image"></div>
    <div class="project-image-nine background-image"></div>
    <div class="project-image-ten background-image"></div>
    <div class="project-image-eleven background-image"></div>
    <div class="project-image-twelve background-image"></div>
  </section>
</section>
{%endblock%}
