{% extends "base.html" %} {% load static %} {% block content %}
<section class="section-grid-container">
  <section class="our-services-header section-grid-header">
    <section class="grid-header">
      <p>Our Services</p>
      <p>We Offer a Range <br />of Services to Meet <br />Your Needs</p>
    </section>
    <section class="our-services-text line-height">
      <p>
        This is the space to introduce visitors to your business or brand.
        Briefly explain who's behind it, what it does and what makes it unique.
        Share its core values and what your site has to offer.
      </p>
    </section>
  </section>

  <section class="section-grid">
    <section class="section-grid-text-one grid-text line-height">
      <h3>Commercial Construction</h3>
      <p>
        This is the space to describe the service. Focus the description on how
        your customers or clients can benefit from using this service: explain
        how it solves a problem, or makes life easier or more enjoyable.
        <br />
        <br />
        Be sure to include all the relevant details users will want to know,
        like pricing, duration, and location. If they'll need to prepare or
        bring anything with them, let them know here. Give users an idea of what
        to expect from the service and tell them how to book it.
      </p>
    </section>

    <section class="section-grid-image-one background-image"></section>

    <section class="section-grid-image-two background-image"></section>

    <section class="section-grid-text-two grid-text line-height">
      <h3>Residential Construction</h3>
      <p>
        This is the space to describe the service. Focus the description on how
        your customers or clients can benefit from using this service: explain
        how it solves a problem, or makes life easier or more enjoyable.
        <br />
        <br />
        Be sure to include all the relevant details users will want to know,
        like pricing, duration, and location. If they'll need to prepare or
        bring anything with them, let them know here. Give users an idea of what
        to expect from the service and tell them how to book it.
      </p>
    </section>
    <section class="section-grid-text-three grid-text line-height">
      <h3>Pre Construction</h3>
      <p>
        This is the space to describe the service. Focus the description on how
        your customers or clients can benefit from using this service: explain
        how it solves a problem, or makes life easier or more enjoyable.
        <br />
        <br />
        Be sure to include all the relevant details users will want to know,
        like pricing, duration, and location. If they'll need to prepare or
        bring anything with them, let them know here. Give users an idea of what
        to expect from the service and tell them how to book it.
      </p>
    </section>

    <section class="section-grid-image-three background-image"></section>

    <section class="section-grid-image-four background-image"></section>

    <section class="section-grid-text-four grid-text line-height">
      <h3>Special Projects</h3>
      <p>
        This is the space to describe the service. Focus the description on how
        your customers or clients can benefit from using this service: explain
        how it solves a problem, or makes life easier or more enjoyable.
        <br />
        <br />
        Be sure to include all the relevant details users will want to know,
        like pricing, duration, and location. If they'll need to prepare or
        bring anything with them, let them know here. Give users an idea of what
        to expect from the service and tell them how to book it.
      </p>
    </section>
    <section class="section-grid-text-five grid-text line-height">
      <h3>Site Management</h3>
      <p>
        This is the space to describe the service. Focus the description on how
        your customers or clients can benefit from using this service: explain
        how it solves a problem, or makes life easier or more enjoyable.
        <br />
        <br />
        Be sure to include all the relevant details users will want to know,
        like pricing, duration, and location. If they'll need to prepare or
        bring anything with them, let them know here. Give users an idea of what
        to expect from the service and tell them how to book it.
      </p>
    </section>

    <section class="section-grid-image-five background-image"></section>

    <section class="section-grid-image-six background-image"></section>

    <section class="section-grid-text-six grid-text line-height">
      <h3>Infrastructure Construction</h3>
      <p>
        This is the space to describe the service. Focus the description on how
        your customers or clients can benefit from using this service: explain
        how it solves a problem, or makes life easier or more enjoyable.
        <br />
        <br />
        Be sure to include all the relevant details users will want to know,
        like pricing, duration, and location. If they'll need to prepare or
        bring anything with them, let them know here. Give users an idea of what
        to expect from the service and tell them how to book it.
      </p>
    </section>
    <section class="section-grid-text-seven grid-text line-height">
      <h3>Civil Engineering</h3>
      <p>
        This is the space to describe the service. Focus the description on how
        your customers or clients can benefit from using this service: explain
        how it solves a problem, or makes life easier or more enjoyable.
        <br />
        <br />
        Be sure to include all the relevant details users will want to know,
        like pricing, duration, and location. If they'll need to prepare or
        bring anything with them, let them know here. Give users an idea of what
        to expect from the service and tell them how to book it.
      </p>
    </section>

    <section class="section-grid-image-seven background-image"></section>

    <section class="section-grid-image-eight background-image"></section>

    <section class="section-grid-text-eight grid-text line-height">
      <h3>Landscape Construction</h3>
      <p>
        This is the space to describe the service. Focus the description on how
        your customers or clients can benefit from using this service: explain
        how it solves a problem, or makes life easier or more enjoyable.
        <br />
        <br />
        Be sure to include all the relevant details users will want to know,
        like pricing, duration, and location. If they'll need to prepare or
        bring anything with them, let them know here. Give users an idea of what
        to expect from the service and tell them how to book it.
      </p>
    </section>
  </section>
</section>

{%endblock%}
