<footer>
  <section class="footer-header">
    <p><span class="bold">MCR</span> Construction</p>
    <button class="footer-button"><a href="">Contact Us</a></button>
  </section>

  <section class="office">
    <h4>Head Office</h4>
    <address>500 Terry Francine Street San Francisco, CA 94158</address>
  </section>

  <section class="inquiry">
    <h4>Inquiries</h4>
    <p>
      For any inquiries, questions or commendations: <br /><br />123-456-7890
      <br />
      <span class="footer-link"> <a href="">info@mysite.com</a></span>
    </p>
  </section>

  <section class="menu">
    <h4>Menu</h4>
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">Services</a></li>
      <li><a href="">Projects</a></li>
      <li><a href="">About Us</a></li>
      <li><a href="">Careers</a></li>
      <li><a href="">Contact</a></li>
    </ul>
  </section>

  <section class="social">
    <h4>Socials</h4>
    <ul>
      <li><a href="">Facebook</a></li>
      <li><a href="">Instagram</a></li>
      <li><a href="">Linkedin</a></li>
    </ul>
  </section>

  <section class="legal">
    <h4>Legal</h4>
    <ul>
      <li><a href="">Terms & Conditions</a></li>
      <li><a href="">Accessibility Statement</a></li>
      <li><a href="">Privacy Policy</a></li>
    </ul>
  </section>

  <section class="copyright-text">
    <p>
      &copy; 2035 by MCR Construction. Powered and secured by
      <span class="footer-link"><a href="">Emeka</a></span>
    </p>
  </section>
</footer>
